* {
  padding: 0;
  margin: 0;
  max-height: 980px;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background: rgb(16, 75, 99);
  background: linear-gradient(
    90deg,
    rgba(16, 75, 99, 1) 0%,
    rgba(21, 121, 162, 1) 50%,
    rgba(16, 75, 99, 1) 100%
  );
  
}

button {
  height: 250px;
  width: 250px;
}

.pageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 65px;
  color: rgb(242, 221, 127);
  margin-top: 45px;
}

.score {
  margin-top: 45px;
  min-height: 15%;
  width: 350px;
  padding: 75px 150px;
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  background-color: #124354;
  border-style: solid;
  border: none;
  border-radius: 55px;
}

.playerPick {
  margin-top: 75px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-style: dashed;
  max-width: 500px;
  background-color: #124354;
  padding: 10px 20px;
  border: none;
  border-radius: 55px;
}

.playerPick img {
  height: 100%;
  width: auto;
  pointer-events: none;
  margin-right: 10px;
}

.results {
  margin-top: 75px;
  min-height: 15%;
  width: 500px;
  padding: 125px 200px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  background-color: #124354;
  border-style: solid;
  border: none;
  border-radius: 55px;
}

#Rock,
#Paper,
#Scissor {
  background: #b0bbc0b7;
  border: solid;
  border-radius: 55px;
  cursor: pointer;
}

#Rock:hover,
#Paper:hover,
#Scissor:hover {
  background: #1f647b;
}

#Rock:active,
#Paper:active,
#Scissor:active {
  background: #b4e8b8;
}
